.stats th {
	background-color: #000000;
	color: silver;
	text-align: left;
	padding: 2px 6px;
}

.stats td {
	color: silver;
	text-align: center;
	padding: 3px 6px;
}

.inventory th {
	background-color: #000000;
	color: silver;
	text-align: left;
	padding: 2px 6px;
}

.inventory td {
	color: silver;
	text-align: center;
	padding: 3px 6px;
}

tr.odd {
	background: #404040;
}

tr.even {
	background: #303030;
}

.login {
	margin: 5px;
	font-size: 14px;
}

.congress {
	margin: 5px;
	font-size: 14px;
}

.errorException {
	background-color: lightyellow;
	background-image: url("../images/util/nuke.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkred;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.errorMessage {
	background-color: lightyellow;
	background-image: url("../images/util/warning.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkred;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.infoMessage {
	background-color: lightblue;
	background-image: url("../images/util/info.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkgreen;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.successMessage {
	background-color: lightyellow;
	background-image: url("../images/util/success.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkgreen;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.action {
	color: #aaaaaa;
	background-color: #404040;
	border-color: #aaaaaa;
	border-style: outset;
	border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	margin: 2px;
}

.actionDisabled {
	color: #808080;
	background-color: #404040;
	border-color: #aaaaaa;
	border-style: dotted;
	border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	margin: 2px;
}

.playerImage {
	max-width: 64px;
	max-height: 64px;
}

.inventoryImage {
	width: 32px;
	height: 32px;
}

.lifeBarMiddle {
	
}

.lifeBarMiddle td {
	width: 10px;
	height: 10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}

.lifeBarMiddle_before {
	background: chartreuse;
}

.lifeBarMiddle_middle {
	background: yellow;
	color: black;
}

.lifeBarMiddle_after {
	background: red;
}

.lifeBarMiddle_value {
	border-color: white !important;
}

.lifeBar {
	
}

.lifeBar td {
	width: 10px;
	height: 10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}

.lifeBar_before {
	background: blue;
}

.lifeBar_after {
	background: navy;
}