.stats th {
	background-color: #000000;
	color: silver;
	text-align: left;
	padding: 2px 6px;
}

.stats td {
	color: silver;
	text-align: center;
	padding: 3px 6px;
}

.inventory {
	color: silver;
}

.inventory th {
	background-color: #000000;
	color: silver;
	text-align: left;
	padding: 2px 6px;
}

.inventory td {
	color: silver;
	text-align: center;
	padding: 3px 6px;
}

.inventoryBox {
	width: 290px;
	border-style: inset;
	border-width: 2px;
	border-radius: 5px;
	min-height: 120px
}

.inventoryPage img {
	width: 24px;
	height: 24px;
}

.itemCard {
	display: inline-block;
	width: 40px;
	border-width: 2px;
	border-style: outset;
	border-radius: 2px;
	text-align: center;
	margin: 2px;
}

.itemTooltip {
	display: none;
}

.playerBox {
	border-style: inset;
	border-width: 2px;
	border-radius: 5px;
	min-height: 120px
}

.playerCard {
	display: inline-block;
	width: 210px;
	border-width: 2px;
	border-style: outset;
	border-radius: 2px;
	text-align: center;
	margin: 5px;
}

.playerCard img {
	width: 24px;
	height: 24px;
}

.hiddenTooltip {
	display: none;
}

.playerTooltip {
	font-size: 10px;
	font-weight: normal;
}

.playerTooltip th {
	font-size: 8px;
	font-weight: normal;
}

.playerTooltip img {
	width: 24px;
	height: 24px;
}

.playerStats {
	font-weight: normal;
	color: silver;
	width: 290px;
}

.playerStats th {
	background-color: #000000;
	color: silver;
	text-align: left;
	padding: 2px 6px;
}

.playerStats td {
	color: silver;
	text-align: center;
	padding: 3px 6px;
}

.playerStats img {
	width: 32px;
	height: 32px;
}

.playerImage {
	max-width: 64px;
	max-height: 64px;
	height: auto !important;
	width: auto !important;
}

tr.odd {
	background: #404040;
}

tr.even {
	background: #303030;
}

.login {
	margin: 5px;
	font-size: 14px;
}

.congress {
	margin: 5px;
	font-size: 14px;
}

.errorException {
	background-color: lightyellow;
	background-image: url("../images/util/nuke.gif");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkred;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.errorMessage {
	background-color: lightyellow;
	background-image: url("../images/util/warning.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkred;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.infoMessage {
	background-color: lightblue;
	background-image: url("../images/util/info.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkgreen;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.successMessage {
	background-color: lightyellow;
	background-image: url("../images/util/success.png");
	background-position: left;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	color: darkgreen;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 5px;
	padding-left: 32px;
}

.action {
	display: inline-block;
	color: #aaaaaa;
	background-color: #404040;
	border-color: #aaaaaa;
	border-style: outset;
	border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	margin: 4px;
}

.actionDisabled {
	color: silver;
	background-color: #404040;
	border-color: silver;
	border-style: dotted;
	border-width: 1px;
	border-radius: 3px;
	padding: 2px;
	margin: 2px;
}

.inventoryImage {
	width: 32px;
	height: 32px;
}

.lifeBarMiddle2 {
	
}

.lifeBarMiddle2 td {
	padding: 0px;
	margin: 0px;
}

.lifeBarMiddle2 img {
	width: 16px;
	height: 16px;
}

.lifeBarMiddle {
	
}

.lifeBarMiddle td {
	width: 10px;
	height: 10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}

.lifeBarMiddle_before {
	background: chartreuse;
}

.lifeBarMiddle_middle {
	background: yellow;
	color: black;
}

.lifeBarMiddle_after {
	background: red;
}

.lifeBarMiddle_value {
	border-color: white !important;
}

.lifeBar {
	
}

.lifeBar td {
	width: 10px;
	height: 10px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 0px;
	margin: 0px;
}

.lifeBar_before {
	background: blue;
}

.lifeBar_after {
	background: navy;
}

.chatDate {
	font-style: italic;
	color: silver;
}

.chatPlayerName {
	font-weight: bold;
}

.chatMessage {
	
}